@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Montserrat:wght@500;700&family=Raleway:ital,wght@0,400;0,600;1,100&family=Roboto:wght@500;700&display=swap');
:root{  max-width: 1440px;  
  
  margin: 0px;
  padding: 0px;
}
*{
  font-weight: 500;
  font-family: 'Roboto';   
}
body{
  margin: 0px;
}
header{
  padding: 10px 0 10px 0;
  display: flex;
   justify-content: space-around;  
  align-items: center;
  background-color: black;
  
} 
.logo{
  font-size: small;
}
nav {
  width: 70%;
}
ul{
  display: flex;
  justify-content: space-around;
  color: white;
  list-style-type: none;

}
/**********navigate vertical****/
.navigate-vertical{
  width: 10%; 
  height: 103vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.tous-icons img{
  width: 60px;
}
.text-copityght{
  font-size: 12px;
  width: 27vh;
  color: white;
  transform: rotate(270deg);
}

.navigateVertical-profil,.navigateVertical-choixUser{
display: flex;
}
.profil{
   width: 85%;
  padding: 2rem;
}
.name-user{
  color:#E60000;
}
.tous-icons{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.card{
  padding: 1%;
  flex: 1 0 50%;
  height: 40vh;
}
/*******barchart********/
.barchart{
 
  height: 22rem;
 background: #FBFBFB;
  ;
}
.text{
  position: absolute;
  top: 1rem;
}
.title-barChart{
  font-weight: 500;
 position: absolute;
 right:64% ; 
 font-size: 19px;
}
.info-bulle-barchart{
  height: 4rem;
  width: 3rem;
  color: white;
  text-align: center;
  line-height: 1.2rem;
  font-size: 10px;
  background-color: #E60000;
}
 /****************/
 .trois-graphiques{
  display: flex;
  justify-content: space-between;
 
 
 }
/***********Linechart*****/
.contnair-line-chart{
  width: 32%;
  height: 14.25rem;
  background-color: #FF0000;
  border-radius: 5px;
}
.title-lineChart{
  color: #FFFFFF;
  width: 8.75rem;
  margin-left: 11px;
  font-size: 12px;
  opacity: 0.50;
}
.info-bulle{
  width: 30px;
  height: 20px;
  background-color: #FBFBFB;
  font-size: 8px;
 text-align: center;
 line-height: 1.2rem;
}
/***********Radarchart*****/
.contnair-radarChart{
  width: 32%;
  height: 14.25rem;
  background-color: black;
  border-radius: 5px;
}
/**pie chart ***************************/
.contnair-radialbarchart {
  position: relative;
  width: 32%;
  height: 14.25rem;
  background-color: #FBFBFB;
}
.text-objectif{
  display: flex;
  flex-direction: column;
    width: 60px;
    position: absolute;
    left: 70px;
    top: 100px;
    z-index: 1;
}
.pourcentage{
  font-size: 23px;
}
.objectif{
  font-size: 11px;
}
.title-radialbarchart{
  margin-left: 16px;
}
.tous-graphiques{
  width: 75%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
 
 
.graphiques-valeurs{
  display: flex;
  gap: 15px;
}
/**************composants des cards*/
.composant-valeur{
  display: flex;
  justify-content: space-around;
  background-color:  #FBFBFB;
width: 11rem;
height: 7rem;
}
.composants-valeurs{
/*   width: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-valeur{
  width: 50px;
}
.titre-valeur{
  margin: 0;
}
.valeur{
  margin: 0;
}
.contnair-valeur{
  display: flex;
    flex-direction: column;
    justify-content: center;
}
 .score{
  color: black;
 }
 /***page erreur*/
 .error{
  width: 90%;
 color: #E60000;
  text-align: center;
  font-size: 30px;
 }
 .link{
  font-size: 21px;
 }
 /******page d'accueil***/
  .choix-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 50vh;
  }
  .choix-donner{
    width: 48%;
    display: flex;
    justify-content: space-around;
  }
.users{
  display: flex;
  justify-content: space-between;
  width: 11%;
  
}
.user1,.user2{
  color: #E60000;
}